<Solution>
  <Folder Name="/src/">
    <Project Path="src/LafScreenStream.Client/LafScreenStream.Client.csproj" />
    <Project Path="src/LafScreenStream.Packager/LafScreenStream.Packager.csproj" />
    <Project Path="src/LafScreenStream.Server/LafScreenStream.Server.csproj" />
    <Project Path="src/LafScreenStream.Shared/LafScreenStream.Shared.csproj" />
  </Folder>
  <Folder Name="/tests/">
    <Project Path="tests/LafScreenStream.Tests/LafScreenStream.Tests.csproj" />
  </Folder>
</Solution>
